.status-selesai {
    color: green;
    font-size: 1rem;
}
.status-gagal {
    color: red;
    font-size: 2rem;
}
.err-msg {
    font-size: 1rem;
    color: red;
}
.child-link {
    cursor: pointer;
    color: blue;
}